
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: #faf9fc;
    --foreground: #34323d;

    --card: #f6f4fa;
    --card-foreground: #34323d;

    --popover: #f8f6fa;
    --popover-foreground: #34323d;

    --primary: #b786f2;
    --primary-foreground: #fff;

    --secondary: #ffdbe7;
    --secondary-foreground: #444043;

    --muted: #ebe6f4;
    --muted-foreground: #7c758f;

    --accent: #c7f5df;
    --accent-foreground: #3d4649;

    --destructive: #fe9990;
    --destructive-foreground: #fff;

    --border: #e3dcec;
    --input: #efeaf7;
    --ring: #ccbed7;

    --radius: 0.5rem;

    --sidebar-background: #f5ebfb;

    --sidebar-foreground: #34323d;

    --sidebar-primary: #b786f2;
    --sidebar-primary-foreground: #fff;

    --sidebar-accent: #d1f7ee;

    --sidebar-accent-foreground: #3d4649;

    --sidebar-border: #e3dcec;

    --sidebar-ring: #d1f7ee;
  }

  .dark {
    /* You can define a gentle dark theme if you want */
    --background: #191825;
    --foreground: #faf9fc;

    --card: #232237;
    --card-foreground: #faf9fc;

    --popover: #232237;
    --popover-foreground: #faf9fc;

    --primary: #b786f2;
    --primary-foreground: #fff;

    --secondary: #ffdbe7;
    --secondary-foreground: #faf9fc;

    --muted: #33294d;
    --muted-foreground: #b89ecc;

    --accent: #357574;
    --accent-foreground: #faf9fc;

    --destructive: #fe7154;
    --destructive-foreground: #fff;

    --border: #342f49;
    --input: #30294f;
    --ring: #b786f2;
    --sidebar-background: #191825;
    --sidebar-foreground: #faf9fc;
    --sidebar-primary: #b786f2;
    --sidebar-primary-foreground: #fff;
    --sidebar-accent: #46346c;
    --sidebar-accent-foreground: #faf9fc;
    --sidebar-border: #30294f;
    --sidebar-ring: #b786f2;
  }
}

@layer base {
  * {
    @apply border-0;
  }

  body {
    @apply bg-background text-foreground;
  }
}
